
.todo{
    background:#ffff;
    position: absolute;
    top: 65px;
    height: 450px;
    width: 400px;
    left: 300px;
    border-radius: 10px;

}

.weather {
    position: absolute;
    top: 20px;
    left: 300px;

}


.board{
    background:#ffff;
    position: absolute;
    top: 65px;
    width: 910px;
    height: 450px;
    left: 740px;
    border-radius: 10px;

}


.edu{
    background:#ffff;
    position: absolute;
    top: 545px;
    height: 400px;
    width: 400px;
    left: 300px;
    border-radius: 10px;

}


.meal{
    background:#ffff;
    position: absolute;
    top: 545px;
    width: 450px;
    height: 225px;
    left: 740px;
    border-radius: 10px;

}

.cal{
    background:#ffff;
    position: absolute;
    top: 545px;
    width: 450px;
    height: 225px;
    left: 1200px;
    border-radius: 10px;

}

.news{
    background:#ffff;
    position: absolute;
    top: 785px;
    width: 910px;
    height: 160px;
    left: 740px;
    border-radius: 10px;

}

