.employeetitle{
        
      position: absolute;
      top: 150px;
      right: 20px;
      width: 1277px;
      height: 207px;

      background: linear-gradient(266.4deg, rgba(3, 101, 249, 0.2) 3.1%, rgba(0, 0, 0, 0) 52.96%), linear-gradient(93.59deg, rgba(255, 255, 255, 0.2) 7.8%, rgba(0, 0, 0, 0) 52.95%), linear-gradient(267.63deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 51.99%), linear-gradient(90.99deg, #6F88DD 1.62%, rgba(111, 136, 221, 0) 94.99%), linear-gradient(252.49deg, rgba(0, 117, 192, 0.7) 17.51%, rgba(77, 112, 237, 0) 61.99%), rgba(1, 53, 239, 0.7);
      border-radius: 15px;
}

.employeeStatus{
      padding-top: 20px;
      padding-left: 60px;
      right: 300px;
      width: 536px;
      height: 75px;
      
      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 42px;
      
      color: #FFFFFF;
}

.employeeAll{
      background: rgba(254, 254, 254, 0.4);
      position: absolute;
  
      top: 15px;
      width: 228px;
      height: 60px;
      left: 360px;
      border-radius: 10px;



      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 21px;
      line-height: 60px;
      text-align: center;

      color: #484848;

      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);
}

.Explanation{
      padding-top: 0px;
      padding-left: 60px;
width: 700px;
height: 56px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 28px;

color: #FFFFFF;

}