.employeetitle{
      position: absolute;
      top: 135px;
      left: 290px; /* Changed 'right' to 'left' */
      width: 1350px;
      height: 207px;
      background: linear-gradient(266.4deg, rgba(3, 101, 249, 0.2) 3.1%, rgba(0, 0, 0, 0) 52.96%), linear-gradient(93.59deg, rgba(255, 255, 255, 0.2) 7.8%, rgba(0, 0, 0, 0) 52.95%), linear-gradient(267.63deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 51.99%), linear-gradient(90.99deg, #6F88DD 1.62%, rgba(111, 136, 221, 0) 94.99%), linear-gradient(252.49deg, rgba(0, 117, 192, 0.7) 17.51%, rgba(77, 112, 237, 0) 61.99%), rgba(1, 53, 239, 0.7);
      border-radius: 15px;
    }

    .employeeMyPage{
      position: absolute;
      top: 360px;
      left: 290px; /* Changed 'right' to 'left' */
      width: 1350px;
      height: 450px;
      background-color: #ffffff;
      border-radius: 15px;
    }
    
    

.employeeStatus{
      padding-top: 30px;
      padding-left: 60px;
      right: 300px;
      width: 536px;
      height: 75px;
      
      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 42px;
      
      color: #FFFFFF;
}

.employeeAll{
      background: rgba(254, 254, 254, 0.4);
      position: absolute;
  
      top: 15px;
      width: 228px;
      height: 60px;
      left: 360px;
      border-radius: 10px;



      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 60px;
      text-align: center;

      color: #484848;

      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);
}

.Explanation{
      padding-top: 0px;
      padding-left: 60px;
width: 700px;
height: 56px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;

color: #FFFFFF;

}

.workTitle {
      position: absolute;
      top: 40px;
      left: 650px;
      font-size: 20px; /* Set the desired font size */
      font-weight: 500px; /* Set the desired font weight */
      color: #ffffff; /* Set the color to white */
    }

    .workImg {
      position: absolute;
      top: 70px;
      left: 650px;
      font-size: 20px; /* Set the desired font size */
      font-weight: 500px; /* Set the desired font weight */
      color: #ffffff; /* Set the color to white */
      mix-blend-mode: color-dodge;
    }

    .workNemo{
      position: absolute;
      left:750px;
      top: 50px;
      width: 100px;
      height: 100px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), rgba(254, 254, 254, 0.3);
      border-radius: 20px;

      text-align: center;
    }

    .workNemoTitle1{
      text-align: center;


      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 60px;

      color: #484848;

      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);

    }

    .workNemoTitle2{
      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 10px;
      text-align: center;
      color: #484848;
      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);

    }

    .vat{

position: absolute;
top: 860px;
right: 500px;
width: 167px;
height: 68px;

background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;

width: 147px;
height: 50px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 54px;
text-align: center;

color: rgba(74, 72, 72, 0.8);
    }



    .vatwo{

      position: absolute;
      top: 860px;
      right: 300px;
      width: 167px;
      height: 68px;
      
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      width: 147px;
      height: 50px;
      
      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 54px;
      text-align: center;
      
      color: rgba(74, 72, 72, 0.8);
          }


    .fir{

      position: absolute;
      top: 860px;
      right: 88px;
      width: 147px;
      height: 50px;
      
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      
      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 54px;
      text-align: center;
      
      color: rgba(74, 72, 72, 0.8);
          }
    



.getoffworkTitle {
      position: absolute;
      top: 42px;
      left: 880px;
      font-size: 20px; /* Set the desired font size */
      font-weight: 500px; /* Set the desired font weight */
      color: #ffffff; /* Set the color to white */
    }

    .getoffworkImg {
      position: absolute;
      top: 67px;
      left: 880px;
      font-size: 20px; /* Set the desired font size */
      font-weight: 500px; /* Set the desired font weight */
      color: #ffffff; /* Set the color to white */
      mix-blend-mode: color-dodge;
    }

    .getoffworkNemo{
      position: absolute;
      left:980px;
      top: 50px;
      width: 100px;
      height: 100px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), rgba(254, 254, 254, 0.3);
      border-radius: 20px;

      text-align: center;
    }

    .getoffworkTitle1{
      text-align: center;


      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 60px;

      color: #484848;

      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);

    }

    .getoffworkTitle2{
      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 10px;
      text-align: center;
      color: #484848;
      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);

    }
    


    .goingTitle {
      position: absolute;
      top: 44px;
      left: 1110px;
      font-size: 20px; /* Set the desired font size */
      font-weight: 500px; /* Set the desired font weight */
      color: #ffffff; /* Set the color to white */
    }

    .comeTitle{
      position: absolute;
      top: 44px;
      left: 1150px;
      font-size: 20px; /* Set the desired font size */
      font-weight: 500px; /* Set the desired font weight */
      color: #ffffff; /* Set the color to white */
    }

    .outTitle{
      position: absolute;
      top: 44px;
      left: 1100px;
      font-size: 20px; /* Set the desired font size */
      font-weight: 500px; /* Set the desired font weight */
      color: #ffffff; /* Set the color to white */
    }

    .goingImg {
      position: absolute;
      top: 72px;
      left: 1100px;
      font-size: 20px; /* Set the desired font size */
      font-weight: 500px; /* Set the desired font weight */
      color: #ffffff; /* Set the color to white */
      mix-blend-mode: color-dodge;
    }

    .goingNemo{
      position: absolute;
      left:1190px;
      top: 50px;
      width: 100px;
      height: 100px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 100%), rgba(254, 254, 254, 0.3);
      border-radius: 20px;

      text-align: center;
    }

    .goingTitle1{
      text-align: center;


      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 60px;

      color: #484848;

      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);

    }

    .returnTitle2{
      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 5px;
      text-align: center;
      color: #484848;
      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);

    }

    .returnTitle1{
      text-align: center;


      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 30px;

      color: #484848;

      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);

    }



    .outTitle1{
      text-align: center;


      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 30px;

      color: #484848;

      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);

    }

    .outTitle2{
      font-family: 'Inria Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1px;
      text-align: center;
      color: #484848;
      text-shadow: 0px 3px 4px rgba(246, 246, 246, 0.4);

    }

.modi{
      background: #E3DBEE;
      border-radius: 20px;
      text-align: center;
  
      position: absolute;
      width: 57px;
      height: 21px;
  
  
      color: #411978;
      top: 25px;
      left: 1230px;
      padding: 10px;
      text-align: center;

      font-weight: 400;
      font-size: 18px;
}

.modiFianl {
      background: #E3DBEE;
      border-radius: 20px;
      position: absolute;
      width: 57px;
      height: 16px;
      color: #411978;
      padding: 10px;
      text-align: center;
      font-weight: 400;
      font-size: 15px;
    
      /* 가운데 정렬을 위한 스타일 */
      left: 50%;
      top: 94%;
      transform: translate(-50%, -50%);
    }
    


.info{
      display: flex;
      position: absolute;
      top: 25px;
      left: 60px;
      padding: 10px;

      font-weight: 600;
      font-size: 23px;
}
.table{
      padding-top: 90px;
      padding-left: 50px;
      padding-right: 50px;
}
table {
      top: 300px;
      border: 2px solid rgb(183, 183, 183); /* Add border to the table */
      width: 100%; /* Set the width to 100% for the entire table */
      border-radius: 10px; /* Add rounded corners to the table */
    }

.table2 {
  max-width: 900px; /* 최대 너비를 500px로 지정 */
  max-height: 900px; /* 최대 높이를 300px로 지정 */
  padding: 20px;
  overflow: auto; /* 내용이 테이블 크기를 초과할 경우 스크롤 표시 */
}

th1 {
      text-align: left;
      background-color: #F0F0F0; /* 보라색 배경색 */
      color: rgb(61, 61, 61); /* 흰색 텍스트 색상 */
      writing-mode: horizontal-tb; /* 텍스트를 가로 방향으로 표시 */
      text-orientation: mixed; /* 텍스트 방향을 혼합 방향으로 설정 */
      padding: 15px; /* 셀 내부 여백 */
      font-size: 18px;
   
      }
  
    td1 {
      background-color: #ffffff; /* 보라색 배경색 */
      color: rgb(61, 61, 61); /* 흰색 텍스트 색상 */
      writing-mode: horizontal-tb; /* 텍스트를 가로 방향으로 표시 */
      text-orientation: mixed; /* 텍스트 방향을 혼합 방향으로 설정 */
      padding: 8px; /* 셀 내부 여백 */
  
     }

  
    th {
      text-align: left;
      background-color: #F0F0F0; /* 보라색 배경색 */
      color: rgb(61, 61, 61); /* 흰색 텍스트 색상 */
      writing-mode: horizontal-tb; /* 텍스트를 가로 방향으로 표시 */
      text-orientation: mixed; /* 텍스트 방향을 혼합 방향으로 설정 */
      padding: 15px; /* 셀 내부 여백 */
      font-size: 18px;
   
      }
  
    td {
      background-color: #ffffff; /* 보라색 배경색 */
      color: rgb(61, 61, 61); /* 흰색 텍스트 색상 */
      writing-mode: horizontal-tb; /* 텍스트를 가로 방향으로 표시 */
      text-orientation: mixed; /* 텍스트 방향을 혼합 방향으로 설정 */
      padding: 8px; /* 셀 내부 여백 */
  
     }






     .my-page {
      /* MyPage 컴포넌트 스타일 */
    }
    
    .employee-title {
      /* employee-title 영역 스타일 */
    }
    
    .employee-my-page {
      /* employee-my-page 영역 스타일 */
    }
    
    .modal-button {
      /* 모달 버튼 스타일 */
    }
    
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경색 */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .modal-content {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      width: 700px; /* 모달의 최대 너비를 600px로 지정 */
      height: 500px;
      text-align: center;
      position: relative;
    }
    
    
    .modal-close {
      position: absolute; /* 추가: 절대 위치 설정 */
      top: 10px;
      right: 10px;
      font-size: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    


    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경색 */
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .modal-content1 {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      width: 500px; /* 모달의 최대 너비를 600px로 지정 */
      height: 500px;
      text-align: center;
      position: relative;
    }
    
    
    .modal-close {
      position: absolute; /* 추가: 절대 위치 설정 */
      top: 10px;
      right: 10px;
      font-size: 20px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
    