
.todo1{
    background:#ffff;
    position: absolute;

    top: 65px;
    height: 450px;
    width: 400px;
    left: 300px;
    border-radius: 10px;

}

.todoText1{
        padding: 40px 0px 10px 40px;
        position: absolute;
      
        font-family: 'Inria Sans';
        font-style: normal;
        font-weight: 550; /* 폰트 두께를 600으로 지정 */
        font-size: 24px;
        line-height: 36px;
      
        color: #153ABC;
      
}

.notic{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 100px;
    margin-right: 30px;
    background: #E3DBEE;
    border-radius: 20px;
    text-align: center;


    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;

    color: #411978;
  
}

.partBoard{
    position: absolute;
    top: 40px;
    left: 460px;
    width: 110px;
    margin-right: 30px;
    background: #E3DBEE;
    border-radius: 20px;
    text-align: center;


    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;

    color: #411978;
  
}

.todoText3{
    padding: 25px 0px 10px 40px;
    font-size: 19px;
    color: #545454;
}

.todoText0 {
    padding: 40px 40px 10px 350px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 520; /* 폰트 두께를 600으로 지정 */
    font-size: 24px;
    line-height: 36px;
  
    color: #153ABC;
}

.todoNumber1 {
    padding: 100px 40px 10px 40px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 520; /* 폰트 두께를 600으로 지정 */
    font-size: 24px;
    line-height: 36px;
  
    color: #153ABC;
}

.todoText2{
      padding: 25px 0px 10px 40px;
      font-size: 19px;
      color: #545454;
}

.todoMinibar1{
    position: absolute;
    top: 20px;
    left: 240px;
    margin-right: 30px;
    background: #E3DBEE;
    border-radius: 20px;
    text-align: center;

    position: absolute;
    width: 77px;
    height: 31px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;

    color: #411978;
}

.todoMinibar2{
    position: absolute;
    top: 80px;
    left: 90px;
    margin-right: 30px;
    background: #F9CECE;
    border-radius: 5px;
    text-align: center;

position: absolute;
width: 117px;
height: 41px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 41px;

color: #9B4646;
    
}

.todoMinibar3{
    position: absolute;
    top: 80px;
    left: 225px;
    margin-right: 30px;
    background: #C2DABE;
    border-radius: 5px;
    text-align: center;

position: absolute;
width: 90px;
height: 41px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 41px;

color: #3E6039;
    
}

.todoMinibar4{
    position: absolute;
    top: 20px;
    left: 240px;
    margin-right: 30px;
    background: #E3DBEE;
    border-radius: 20px;
    text-align: center;

    position: absolute;
    width: 77px;
    height: 31px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;

    color: #411978;
}


.todoMinibar5{
    position: absolute;
    top: 80px;
    left: 90px;
    margin-right: 30px;
    background: #F9CECE;
    border-radius: 5px;
    text-align: center;

position: absolute;
width: 117px;
height: 41px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 41px;

color: #9B4646;
    
}

.todoMinibar6{
    position: absolute;
    top: 80px;
    left: 225px;
    margin-right: 30px;
    background: #C2DABE;
    border-radius: 5px;
    text-align: center;

position: absolute;
width: 90px;
height: 41px;

font-family: 'Inria Sans';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 41px;

color: #3E6039;
    
}

.parent {
    position: relative;
  }
  
  

.todo2{
    background:#F0F0F0;
    position: absolute;
    top: 175px;
    height: 150px;
    width: 340px;
    left: 330px;
    border-radius: 10px;

}


.boardMinibar1{
    position: absolute;
    top: 110px;
    left: 20px;
    width: 420px;
    height: 300px;
    
    background: #F0F0F0;
    border-radius: 10px;
}

.boardMinibar2{
    position: absolute;
    top: 110px;
    left: 460px;
    width: 420px;
    height: 300px;
    
    background: #F0F0F0;
    border-radius: 10px;
}

.todo3{
    background:#F0F0F0;
    position: absolute;
    top: 340px;
    height: 150px;
    width: 340px;
    left: 330px;
    border-radius: 10px;
}


.weather {
    position: absolute;
    top: 20px;
    left: 300px;

}


.board{
    background:#ffff;
    position: absolute;
    top: 65px;
    width: 910px;
    height: 450px;
    left: 740px;
    border-radius: 10px;

}


.edu{
    background:#ffff;
    position: absolute;
    top: 545px;
    height: 400px;
    width: 400px;
    left: 300px;
    border-radius: 10px;

}


.meal{
    background:#ffff;
    position: absolute;
    top: 545px;
    width: 450px;
    height: 225px;
    left: 740px;
    border-radius: 10px;

}

.cal{
    background:#ffff;
    position: absolute;
    top: 545px;
    width: 450px;
    height: 225px;
    left: 1200px;
    border-radius: 10px;

}

.news{
    background:#ffff;
    position: absolute;
    top: 785px;
    width: 910px;
    height: 160px;
    left: 740px;
    border-radius: 10px;

}



.circle9 {
    top: 25px;
    left: 20px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6c6c6c;

  }

.notic2{
    padding: 20px 0px 0px 35px;
    top: 20px;

}

.edutitle1{
    padding: 20px 0px 10px 40px;
    position: absolute;
  
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 550; /* 폰트 두께를 600으로 지정 */
    font-size: 20px;
    line-height: 36px;

}
  
  .edutitle1::after {
    content: "교육 이수";
    color: #3552BB; /* 파란색으로 변경합니다 */
  }

  .edutitle2{
    padding: 80px 0px 0px 55px;
    font-size: 18px;
    color: #545454;
  }
  
  .img1{
    position: relative; /* 요소를 상위 요소를 기준으로 배치합니다 */
    left: 170px; /* 왼쪽으로 50px 이동합니다 */
    top: -30px; /* 위쪽으로 20px 이동합니다 */
    width: 203px;
    height: 123px;
  }

  .img2{
    position: relative; /* 요소를 상위 요소를 기준으로 배치합니다 */
    left: 170px; /* 왼쪽으로 50px 이동합니다 */
    top: -30px; /* 위쪽으로 20px 이동합니다 */
    width: 203px;
    height: 123px;
  }
  

  .edutitle3{
    
  }


  .educircle1{
    top: 85px;
    left: 40px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6c6c6c;

  }

  .ing{
    position: absolute;
    top: 120px;
    left: 40px;
    margin-right: 30px;
    background: #E3DBEE;
    border-radius: 20px;
    text-align: center;

    position: absolute;
    width: 77px;
    height: 31px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;

    color: #411978;
  }
  


  .mealtile1{
    position: absolute;
    top: 30px;
    left: 30px;
    margin-right: 30px;
    background: #C2DABE;
    border-radius: 10px;
    text-align: center;

    position: absolute;
    width: 120px;
    height: 31px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    color: #3E6039;
  }
  
  .caltile1{
    position: absolute;
    top: 30px;
    left: 30px;
    margin-right: 30px;
    background: #E3E1A2;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    width: 98px;
    height: 31px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    color: #333332;
  }

  
.mealcircle {
    top: 85px;
    left: 20px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6c6c6c;

  }

.meal2{
    padding: 80px 0px 0px 35px;
    top: 70px;

}

.newstitle{
    position: absolute;
    top: 30px;
    left: 30px;
    margin-right: 30px;
    background: #C2DABE;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    width: 105px;
    height: 31px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 31px;
    color: #3E6039;
  }


  .newscircle {
    top: 85px;
    left: 20px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #6c6c6c;

  }

.newsItem{
    padding: 80px 0px 0px 35px;
    top: 70px;

}