/* CSS 파일에 @font-face 코드 삽입 */
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* 폰트 적용할 요소에 속성 적용 */
.my-element {
  font-family: 'SUITE-Regular';
}


.title1 {
    position: absolute;
    top: 40px;
    left: 280px;
    width: 800px;
  }
  
  .title2 {
    font-size: 30px;
    text-align: center;
    margin-left: 500px;
    padding-bottom: 10px;
  }
  
  .navbar2-wrapper {
    text-align: left;
    white-space: nowrap;
  }
  
  .navbar2 {
    display: inline-block;
    padding: 1.5% 3%;
    font-size: 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 20px;
    color: #5b5b5b;
    transition: all 0.5s ease-in-out; /* transition 속성 추가 */
  }
  
  
  
  
  .navbar2.active::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #7c85ed;
    margin-top: 1.2%;;
  }
  
  hr {
    width: 120%;
    border: none;
    height: 2px;
    background-color: #b0b0b0;
    margin: 1%;
  }
  